* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #D4ECDD;
}

html, body {
  font-family: sans-serif;
}

.container {
  width: 900px;
  height: 600px;
  background-color: #345B63;
  margin: 0 auto;
}

header {
  width: 900px;
  height: 80px;
  background-color: var(--primary-color);
}

header ul {
  height: 80px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

header ul li {
  /* margin: 0 15px; */
  font-weight: bold;
  color: #112031;
  padding: 30px;
}

header ul li:hover {
  background-color: white;
  cursor: pointer;
  color: var(--primary-color);
}

.sub-menu {
  width: 900px;
  height: 280px;
  background-color: skyblue;
  position: absolute;
  /* display: none; */
  left: 0;
  top: 80px;
  opacity: 0;
  transition: all 1.5s ease-in-out;
  pointer-events: none;
}

header ul li:hover > .sub-menu {
  /* display: block; */
  opacity: 1;
  pointer-events: all;
  z-index: 99;
}
